The Fire Nation has <%= @facade.member_count %> Members

<p>Details</p>
<div>
  <% @facade.fire_nation.each do |member| %>
    <%= member.name %>:  <%= member.photo%></br>
    Enemies: <%= member.enemies.join(', ') %></br>
    Allies: <%= member.allies.join(', ') %></br>
    Affiliations: <%= member.affiliation %><br><br>
  <%end%>
</div>

